<aside th:fragment="right" class="sidebar-right">
    <div id="mm-mapa" class="collapse d-lg-block show">
        <div class="card map-box">
            <h3>Mapa</h3>
            <div class="map-frame">
                <div id="map" data-mm-map class="map-canvas"></div>
            </div>
        </div>
    </div>

    <div class="card colecciones">
        <h3>Colecciones</h3>
        <ul>
            <li><a href="#">Desastres naturales <span>CURADO</span></a></li>
            <li><a href="#">Caridad <span>NO CURADO</span></a></li>
            <li><a href="#">San Juan <span>CURADO</span></a></li>
        </ul>
        <button class="explorar">Explorar Mas</button>
    </div>
</aside>

