<section th:fragment="center" class="feed">

    <!-- Header de la colección -->
    <header class="collection-header">
        <h1 th:text="${collection.title}">Título Colección</h1>
        <p class="collection-desc" th:text="${collection.description}">
            Descripcion de la coleccion
        </p>
    </header>

    <!-- EVENTOS -->
    <!-- EVENTOS -->
    <th:block th:if="${#lists.isEmpty(events)}">
        <p>No hay Eventos disponibles.</p>
    </th:block>

    <th:block th:if="${!#lists.isEmpty(events)}" th:each="event : ${events}">
        <div th:replace="~{fragments/_eventCard :: cardFragment(item=${event})}"></div>
    </th:block>

</section>
